/*TOP PANEL*/
.ulMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #181F1C;

    position: fixed;
    top: 0;
    width: 100%;
}

.liMenu {
    display:inline;
    float: left;
    border-right: 2px solid #60712F;
}

    .liMenu:nth-last-child(2) {
        border-right: none;
        float:right;
    }
    .liMenu:last-of-type {
        border-right: none;
        float:right;
    }

.aMenu {
    display:block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 20px 30px;
}

    .aMenu:hover {
        background-color: #050606;
    }

/*SPACE UNDER TOP PANEL*/
.ulMenuspace{
    height: 50px;
    width: auto;
}

/*WELCOME IMAGE*/
.welcomePanel{
    width: 100%;
    height: auto;
}

/*CONTENT COLUMNS*/
.column {
    float: left;
    width: 33%;
    padding: 0.1%;
    height: 300px; /* Remove later. */
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 800px) {/*RESPONSIVITY*/
    .column {
        width: 100%;
    }
    .ulMenu {
        width: 100%;
        position: inherit;
    }
    .liMenu {
        width: 100%;
        border-bottom: 2px solid #60712F;
    }
    .ulMenuspace {
        height: 0px;
    }

}









